<%= fname %> what is your second lucky number?

<form method = 'post' action = '/secondnum'>
	Lucky Number Two: <input type = "text" name = "numtwo"><br>
	<input type = "submit" value = "submit">
	<input type = "hidden" name = "numone" value = "<%= numone%>"><br>
	<input type = "hidden" name = "color" value = "<%= color%>"><br>
	<input type = "hidden" name = "age" value = "<%= age%>"><br>
	<input type = "hidden" name = "fname" value = "<%= fname %>"><br>
	<input type = "hidden" name = "lname" value = "<%= lname%>"><br>
</form>